## File system
.DS_Store
desktop.ini

## Editor
*.swp
*.swo
Session.vim
.cproject
.idea
*.iml
.vscode
.project
.favorites.json
.settings/
*.orig
*.rej

## Build
/book/
/build/
/kani_build/
/target
library/target
*.rlib
*.rmeta
*.mir
Cargo.lock

## Temporary files
*~
\#*
\#*\#
.#*

## Python
__pycache__/
*.py[cod]
*$py.class

## Node
node_modules
package-lock.json

# Tools
## Kani
*.out


# Added by cargo
#
# already existing elements were commented out

#/target
